<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.solution.musiccollab.server.LoginServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.solution.musiccollab.server.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>userService</servlet-name>
    <servlet-class>com.solution.musiccollab.server.UsersServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>usersServlet</servlet-name>
    <servlet-class>com.solution.musiccollab.server.UsersServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>audioServlet</servlet-name>
    <servlet-class>com.solution.musiccollab.server.AudioServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>audioService</servlet-name>
    <servlet-class>com.solution.musiccollab.server.AudioServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>uploadFileServlet</servlet-name>
    <servlet-class>com.solution.musiccollab.server.UploadFileServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>mixServlet</servlet-name>
    <servlet-class>com.solution.musiccollab.server.MixServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>downloadFileServlet</servlet-name>
    <servlet-class>com.solution.musiccollab.server.DownloadFileServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>userService</servlet-name>
    <url-pattern>/music_collab/users</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>usersServlet</servlet-name>
    <url-pattern>/users_json</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>audioServlet</servlet-name>
    <url-pattern>/audio_json</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>audioService</servlet-name>
    <url-pattern>/music_collab/audio</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>uploadFileServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>mixServlet</servlet-name>
    <url-pattern>/mix</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>downloadFileServlet</servlet-name>
    <url-pattern>/downloadFile</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Music_collab.html</welcome-file>
  </welcome-file-list>

</web-app>
